* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 0 4px;
  position: relative;
}
#root {
  min-height: 99vh;
  padding: 8px;
  display: grid;
  grid-template-rows: 80px 1fr;
  gap: 1rem;
}
main.\/ {
  display: flex;
  grid-row: 2/3;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-wrap: wrap;
}
img {
  width: calc(100px + 4vw);
  display: block;
  margin: 0 auto;
}
.left-home, .right-home {
  min-width: 350px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero {
  font-size: calc(1rem + 0.4vw);
}
.right-home {
  text-align: center;
}
.left-home > a {
  width: fit-content;
}
.right-home > img {
  width: calc(300px + 10vw);
  height: auto;
}
main.\/shop, main.\/cart {
  display: grid;
  grid-row: 2/3;
  grid-template-columns: repeat(auto-fill, minmax(calc(140px + 5vw), 1fr));
  gap: 16px;
}
.add-to-cart {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
input.btn {
   width: calc(50px + 4vw);
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px 8px;
  padding-top: 1rem;
  box-shadow: 0px 4px 10px rgba(128,128, 128, 0.3);
  background-color: rgba(128,128, 128, 0.1);
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border 0.3s ease-in-out;
  align-items: center;
  min-height: calc(205px + 10vw);
  gap: 4px;
  font-size: calc(0.6rem + 0.2vw);
}

.card:hover {
  border-color:  #646cff;
}
.cart-count {
  color: yellow;
  margin-left: 8px;
  font-size: 0.7rem;
  padding: 8px;
  background-color: orangered;
  border-radius: 8px 8px 8px 1px;
}
.flex-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  position: fixed;
  background-color: rgba(128,128, 128, 0.3);
  right: 0.5%;
  width: 99%;
  padding: 10px;
  backdrop-filter: blur(10px);
  border-radius: 8px;
}