* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 4px
}
#root {
  min-height: 99vh;
  padding: 8px;
  display: grid;
  grid-template-rows: 1fr 10fr;
}
main.\/ {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
img {
  width: calc(100px + 4vw);
  display: block;
  margin: 0 auto;
}
.left-home, .right-home {
  min-width: 350px;
  flex: 1;
}
.right-home > img {
  width: calc(300px + 10vw);
  height: auto;
}
main.\/shop, main.\/cart {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(140px + 5.5vw), 1fr));
  gap: 16px;
}
.add-to-cart {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
input.btn {
   width: calc(50px + 4vw);
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px 8px;
  box-shadow: 0px 4px 10px rgba(128,128, 128, 0.3);
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border 0.3s ease-in-out;
  align-items: center;
  gap: 4px;
  font-size: calc(0.6rem + 0.25vw);
}

.card:hover {
  border-color:  #646cff;
}
.cart-count {
  color: yellow;
  margin-left: 8px;
  font-size: 0.7rem;
  padding: 8px;
  background-color: orangered;
  border-radius: 8px 8px 8px 1px;
}